@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tektur:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 229, 229);
  font-family: karla, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  height: 80vh;
}

.container {
  width: 100%;
}

.part-one {
  background-color: white;
  margin: 0 auto 0 auto;
  box-shadow: 1px -2px 18px -2px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  text-align: start;
  width: 50%;
  padding: 40px;
  -moz-box-shadow: 1px -2px 18px -2px rgba(0, 0, 0, 0.75);
}

.part-one h2 {
  font-size: 1.7em;
  color: hsl(179, 62%, 43%);
  margin-bottom: 30px;
}

.part-one span {
  display: block;
  color: hsl(71, 73%, 54%);
  font-size: 1.2em;
  margin-bottom: 30px;
}

.part-one p {
  color: gray;
  font-size: 1.1em;
}

.bottom-container {
  display: flex;
  margin: 0 auto;
  width: 50%;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 6px 18px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.part-two {
  display: block;
  width: 50%;
  background-color: #1ba39c;
  text-align: start;
  color: white;
  padding: 50px;
}

.part-two h3 {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.part-two .text {
  font-size: 2.1em;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.part-two span {
  display: inline-block;
  font-size: 0.5em;
  opacity: 0.3;
  margin-left: 12px;
}

.part-two button {
  width: 85%;
  background-color: hsl(71, 73%, 54%);
  height: 50px;
  margin-top: 30px;
  color: white;
  font-size: 1em;
  border: none;
  box-shadow: 2px 2px 10px rgb(163, 162, 162);
  border-radius: 7px;
}

.part-three {
  background-color: #21b2a8;
  width: 50%;
  color: white;
}


footer {
  position: absolute;
  left: 0;
  bottom: 0;
}